.container{
    width: 100%;
    border-collapse: collapse;
    border: 5px;
    margin: 4% auto;
}

.table-head{
    font-size: 1.6vw;
    padding-bottom: 1%;
    border-bottom: 0.1vw solid #7E7E7E;
    text-align: left;
    padding-left: 2%;
}

.table-row-text{
    font-size: 1.5vw;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    text-align: left;
    padding-left: 2%;
}

.table-button{
    font-size: 1.5vw;
    font-family: Outfit;
    color: #2E3BAF;
    border: none;
    background-color: white;
    cursor: pointer;
    padding-left: 4%;
}

.table-button:hover{
    text-decoration: underline;
}

.table-button:active {
    color: #242d7e;
  }